SisReservasAgenteServicio/Service References/ServicioGestion/ServicioGestion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DominioEntidades.SisReservas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DominioEntidades.SisReservas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="O_LISTAR_GENERO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_ID_USUARIO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AUD_ESTADO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_GENERO" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="O_LISTAR_GENERO" nillable="true" type="tns:O_LISTAR_GENERO" />
  <xs:complexType name="ArrayOfO_RESULTADO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="O_RESULTADO" nillable="true" type="tns:O_RESULTADO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfO_RESULTADO" nillable="true" type="tns:ArrayOfO_RESULTADO" />
  <xs:complexType name="O_RESULTADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_TABLA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MENSAJE_ERROR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULTADO" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="O_RESULTADO" nillable="true" type="tns:O_RESULTADO" />
  <xs:complexType name="O_LISTAR_PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_ID_USUARIO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AP_MATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AP_PATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUD_ESTADO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_NACIMIENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GENERO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_GENERO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_TIPO_PERSONA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_PERSONA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="O_LISTAR_PERSONA" nillable="true" type="tns:O_LISTAR_PERSONA" />
  <xs:complexType name="O_LISTAR_DOCUMENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_ID_USUARIO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AUD_ESTADO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_DOCUMENTO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_TIPO_DOCUMENTO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NUMERO_DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOCUMENTO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="O_LISTAR_DOCUMENTO" nillable="true" type="tns:O_LISTAR_DOCUMENTO" />
</xs:schema>