SisReservasAgenteServicio/Service References/ServicioReportes/ServicioReportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioReportes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SisReservasCore/ServicioReportes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SisReservasCore/ServicioReportes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SisReservasCore/ServicioReportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DominioEntidades.SisReservas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioReportes_ListarGenero_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarGenero" />
  </wsdl:message>
  <wsdl:message name="IServicioReportes_ListarGenero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarGeneroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReportes_ListarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersona" />
  </wsdl:message>
  <wsdl:message name="IServicioReportes_ListarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReportes_ListarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDocumento" />
  </wsdl:message>
  <wsdl:message name="IServicioReportes_ListarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioReportes">
    <wsdl:operation name="ListarGenero">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReportes/ListarGenero" message="tns:IServicioReportes_ListarGenero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReportes/ListarGeneroResponse" message="tns:IServicioReportes_ListarGenero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReportes/ListarPersona" message="tns:IServicioReportes_ListarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReportes/ListarPersonaResponse" message="tns:IServicioReportes_ListarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReportes/ListarDocumento" message="tns:IServicioReportes_ListarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReportes/ListarDocumentoResponse" message="tns:IServicioReportes_ListarDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SisReservasReportesEndPoint" type="tns:IServicioReportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarGenero">
      <soap:operation soapAction="http://tempuri.org/IServicioReportes/ListarGenero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersona">
      <soap:operation soapAction="http://tempuri.org/IServicioReportes/ListarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumento">
      <soap:operation soapAction="http://tempuri.org/IServicioReportes/ListarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReportes">
    <wsdl:port name="SisReservasReportesEndPoint" binding="tns:SisReservasReportesEndPoint">
      <soap:address location="http://localhost/SisReservasCore/ServicioReportes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>